<html>
      <body>
<div class="home">
<div class="cd">
     <h2>Contact Details </h2>
     <p>Phone:+91 9607690988/20-27659509/27652794
      E-mail: ittrg@iacsd.com <br>
     </p>
</div>

<div class="address">
      <h2>Address</h2>
      <p>Institute for Advanced Computing & Software Development,
            Dr. D.Y. Patil Educational Complex,
            Sector 29, Behind Akurdi Railway Station,
            Nigdi Pradhikaran, Akurdi
            Pune - 411044.
      </p>
</div>
</body>
</html>